<div class="column_1 schedule">

  <br/>

  <p>Note: this is a Work In Progress, final schedule will be published at the end of May.</p>

  <table class="schedule" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="one_row">
      <th><br></th>
      <td>
        Saturday 25/06/2011
      </td>

    </tr>
    </thead>
    <tbody>
    <tr class="three_row">
      <th>
        8:30
      </th>
      <td class="break">
        Registration, coffee and croissants
      </td>

    </tr>
    <tr class="one_row">
      <th>
        9:15
      </th>
      <td>
        Welcome and introductions
        <br>Mysterious MC<br>
      </td>
    </tr>

    <%= speaker "9:30", "Joshua Wehner", "wehner", "KEYNOTE Must It Always Be About Sex?" %>
    <%= break_helper "10:00" %>

    <%= speaker "10:15", "Konst Haase", "haase", "Real Time Rack" %>
    <%= break_helper "11:00" %>

    <%= speaker "11:15", "Blake Mizerany (heroku)", "mizerany", "TBD" %>

    <tr class="three_row">
      <th>
        12:00
      </th>
      <td class="break">
        Pinic for connoisseurs
      </td>
    </tr>

    <%= speaker "14:00", "Elise Huard", "huard", "Ruby goes to Hollywood" %>
    <%= break_helper "14:45" %>

    <%= speaker "15:15", "", "wehner", "" %>
    <%= break_helper "16:00" %>

    <%= speaker "16:30", "", "wehner", "" %>

    <tr class="three_row">
      <th>
        17:15
      </th>
      <td class="break">
        We'll book
      </td>

    </tr>

    </tbody>

  </table>

  <p>Short talks and socializing, barcamp-like.</p>


  <table class="schedule" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="one_row">
      <th><br></th>
      <td>
        Sunday 26/06/2011
      </td>
    </tr>
    </thead>
    <tbody>
    <tr class="three_row">
      <th>
        9:00
      </th>
      <td class="break">
        Breakfast
      </td>
    </tr>

    <%= speaker "10:00", "Lightning talks", "", "TBD" %>

    </tbody>

  </table>

</div>
