<div class="column_1 schedule">

  <br/>

  <p>Note: this is a Work In Progress, final schedule will be published at the end of May.</p>

  <table class="schedule" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="one_row">
      <th><br></th>
      <td>
        Saturday 25/06/2011
      </td>

    </tr>
    </thead>
    <tbody>
    <tr class="three_row">
      <th>
        8:30
      </th>
      <td class="break">
        Registration, coffee and croissants
      </td>

    </tr>
    <tr class="one_row">
      <th>
        9:30
      </th>
      <td>
        Welcome and introductions by <a href="http://twitter.com/#!/cesariogw">MC Cesario</a>
      </td>
    </tr>

    <%= speaker "9:45", "10:30",
      "Joshua Wehner", "joshua-wehner", "Must It Always Be About Sex? (Keynote)" %>

    <%= break_helper %>

    <%= speaker "11:00", "11:45",
      "Nick Sutterer", "nick-the-german-sutterer", "CRUD is not REST! Hypermedia for y'all!" %>


    <tr class="three_row">
      <th></th>
      <td class="break">
        Picnic, typical <a href="http://www.google.com/search?hl=en&q=gratin%20dauphinois&um=1&ie=UTF-8&tbm=isch&source=og&sa=N&tab=wi&biw=1280&bih=679">food</a> from Lyon
      </td>
    </tr>

    <%= speaker "14:00", "14:45",
      "Joseph Wilk", "joseph-wilk", "The Limited Red Society" %>

    <%= break_helper %>

    <%= speaker "15:00", "15:45",
      "Blake Mizerany", "blake-mizerany", "On Distributed Failures" %>

    <%= break_helper %>

    <%= speaker "16:00", "16:45",
      "Élise Huard", "elise-huard", "Ruby goes to Hollywood" %>

    <%= break_helper %>

    <tr class="three_row">
      <th>
        17:00 - 17:30
      </th>
      <td class="break">
        <a href="http://euruko2011.org/2011/05/11/there-will-be-lightning.html">Lightning Talks</a> (5 min including questions)
      </td>
    </tr>

    </tbody>

  </table>

  <br/>

  <h2>Party</h2>
  <br/>

  <p>
    We invite you to party with us and all the RuLu visitors at “some mysterious bar TBD”. </p>

    <p>We try to make it easy for you to get tot he location, by providing the possible routes
      on our <a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&oe=UTF8&msa=0&msid=204495958978280801827.0004a37e8772ca6af08c0&z=14">Visitor Info Map</a>.
      We will also provide flyers with exact directions.</p>

  <br/>

  <table class="schedule" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="one_row">
      <th><br></th>
      <td>
        Sunday 26/06/2011
      </td>
    </tr>
    </thead>
    <tbody>
    <tr class="three_row">
      <th>
        9:00 - 9:30
      </th>
      <td class="break">
        Breakfast
      </td>
    </tr>


    <%= speaker "9:45", "10:30",
      "Hampton Catlin", "hampton-catlin", "What do American Airlines, Farmville, and Wikipedia have in common? (Keynote)" %>

    <%= break_helper %>

    <%= speaker "11:15", "12:00",
      "Michael Bensoussan", "michael-bensoussan", "Service Oriented Applications" %>

    <tr class="three_row">
      <th></th>
      <td class="break">
      Lunch
      </td>
    </tr>

    <%= speaker "14:00", "14:45",
      "R. Konstantin Haase", "r-konstantin-haase", "Real Time Rack" %>

    <%= break_helper %>

    <%= speaker "15:00", "15:45",
      "Sven Fuchs", "sven-fuchs", "Travis CI" %>

    <%= break_helper %>

    <%= speaker "16:00", "16:45",
      "Bruno Michel", "bruno-michel", "Goliath and his friends : Rack, EventMachine and Fibers" %>


    </tbody>

  </table>

</div>
