<div class="column_1 schedule">

  <br/>

  <p>Note: this is a Work In Progress, final schedule will be published at the end of May.</p>

  <table class="schedule" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="one_row">
      <th><br></th>
      <td>
        Saturday 25/06/2011
      </td>

    </tr>
    </thead>
    <tbody>
    <tr class="three_row">
      <th>
        8:30
      </th>
      <td class="break">
        Registration, coffee and croissants
      </td>

    </tr>
    <tr class="one_row">
      <th>
        9:15
      </th>
      <td>
        Welcome and introductions
      </td>
    </tr>

    <%= speaker "9:30", "10:00",
      "Joshua Wehner", "joshua-wehner", "Must It Always Be About Sex? (Keynote)" %>

    <%= break_helper %>

    <%= speaker "10:15", "11:00",
      "Nick Sutterer", "nick-the-german-sutterer", "CRUD is not REST! Hypermedia for y'all!" %>

    <%= break_helper %>

    <%= speaker "11:15", "12:00",
      "R. Konstantin Haase", "r-konstantin-haase", "Real Time Rack" %>

    <tr class="three_row">
      <th></th>
      <td class="break">
        Picnic
      </td>
    </tr>

    <%= speaker "14:00", "14:45",
      "Joseph Wilk", "joseph-wilk", "The Limited Red Society" %>

    <%= break_helper %>

    <%= speaker "15:00", "15:45",
      "Blake Mizerany", "blake-mizerany", "On Distributed Failures" %>

    <%= break_helper %>

    <%= speaker "16:00", "16:45",
      "TBD", "", "TBD" %>

    <!--<tr class="three_row">-->
      <!--<th>-->
        <!--17:15-->
      <!--</th>-->
      <!--<td class="break">-->
        <!--We'll book a bar bla bla -->
      <!--</td>-->
    <!--</tr>-->

    </tbody>

  </table>

  <br/>
  <br/>

  <table class="schedule" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="one_row">
      <th><br></th>
      <td>
        Sunday 26/06/2011
      </td>
    </tr>
    </thead>
    <tbody>
    <tr class="three_row">
      <th>
        9:00 - 9:30
      </th>
      <td class="break">
        Breakfast
      </td>
    </tr>


    <%= speaker "9:30", "10:00",
      "Élise Huard", "elise-huard", "Ruby goes to Hollywood" %>

    <%= break_helper %>

    <%= speaker "10:15", "11:00",
      "Michael Bensoussan", "michael-bensoussan", "Service Oriented Applications" %>

    <%= break_helper %>

    <%= speaker "11:15", "12:00",
      "Bruno Michel", "bruno-michel", "Goliath and his friends : Rack, EventMachine and Fibers" %>

    <tr class="three_row">
      <th></th>
      <td class="break">
      Lunch
      </td>
    </tr>

    <%= speaker "14:00", "14:45",
      "TBD", "", "TBD" %>

    <%= break_helper %>

    <%= speaker "15:00", "15:45",
      "Sven Fuchs", "sven-fuchs", "Travis CI" %>

    <%= break_helper %>

    <%= speaker "16:00", "16:45",
      "Hampton Catlin", "hampton-catlin", "What do American Airlines, Farmville, and Wikipedia have in common?" %>


    </tbody>

  </table>

</div>
